/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 20px;
}

.card {
  background-color: #424242;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
  max-height: 150px; /* Belirli bir yüksekliği sabitleyin */
  overflow-y: auto; /* Yatay kaydırma çubuğu ekleyin */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.buttons {
  margin-top: 10px;
}

.button {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.button:hover {
  background-color: #5c6bc0;
}

.button-delete {
  background-color: #f44336;
}

.button-delete:hover {
  background-color: #ef5350;
}

